{% extends 'base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block body %}
<div class="container py-5 text-light">

    <h1 class="mb-4">🎬 Tous les films</h1>

    {# Formulaire de recherche / filtres #}
    <form method="get" class="mb-4">
    <div class="row g-3">
        <div class="col-md-4">
            <input type="text" name="keyword" class="form-control"
                    placeholder="Titre du film..."
                    value="{{ keyword }}">
        </div>
        <div class="col-md-3">
            <select name="genreId" class="form-select">
                <option value="">Tous les genres</option>
                {% for genre in genres %}
                    <option value="{{ genre.id }}" {% if genre.id == genreId %}selected{% endif %}>
                        {{ genre.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select name="directorId" class="form-select">
                <option value="">Tous les réalisateurs</option>
                {% for director in directors %}
                    <option value="{{ director.id }}" {% if director.id == directorId %}selected{% endif %}>
                        {{ director.firstName }} {{ director.lastName }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Filtrer</button>
        </div>
    </div>
</form>

    {# Liste des films filtrés #}
    {# <div class="row text-center">
        {% for movie in movies %}
            {% include 'partials/movie/_movie_bloc.html.twig' %}
        {% else %}
            <div class="col-12">
                <p>Aucun film ne correspond à votre recherche.</p>
            </div>
        {% endfor %}
    </div> #}

    <div class="row">
  {% for movie in movies %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            {% if movie.imageName %}
            <img src="https://image.tmdb.org/t/p/w300/{{ movie.imageName }}" class="card-img-top" alt="{{ movie.name }}">
            {% else %}
            <img src="{{ asset('build/images/default-movie.png') }}" class="card-img-top" alt="Aucune image">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text">{{ movie.synopsis|length > 120 ? movie.synopsis|slice(0, 120) ~ '...' : movie.synopsis }}</p>
            <a href="{{ path('app_movie_show', { id: movie.id }) }}" class="btn btn-primary">Voir le film</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}