<div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="{{ asset('build/images/logo-moviz.png')}}" alt="Logo Moviz" height="40">
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('app_home')}}" class="nav-link px-2 text-white">Accueil</a></li>
                    <li><a href="{{  path('app_movie')}}" class="nav-link px-2 text-white">Les films</a></li>
                    <li><a href="{{  path('app_about')}}" class="nav-link px-2 text-white">À propos</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    {% if app.user %}
                        <span class="me-2">👋 Bonjour {{ app.user.nickname ?? app.user.email }}</span>
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Logout</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Connexion</a>
                        <a href="#" class="btn btn-primary">S'inscrire</a>
                    {% endif %}
                </div>
            </header>
        </div>